main .container {
    max-width: 750px;
}

dl,
dd {
    margin: 0;
}

main #user-form-submit-button {
    margin-top: 1rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 0;
    background-color: #BC4749;
    color: #fff;
}

main #user-submit-form {
    text-align: center;
}

main #user-submit-form input {
    width: 100%;
}

main #user-submit-form ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

main #user-submit-form .item-calculator {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: 0.5rem 0;
}

main #user-submit-form ul button {
    width: 1.5rem;
    height: 1.5rem;
}